:root{
  --main-color:#E41817;
}


body
{
  padding-top:70px;
}

/************Edit bootstrap file*************/
/*Main Navbar*/
.navbar
{
  min-width: 70px;
}
/*Active Link*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
  background-color:var(--main-color);
}

/*Navbar Links*/
.navbar-inverse .navbar-nav > li > a
{
  color:#888;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
}

/*Navbar brand*/
.navbar-inverse .navbar-brand
{
  font-size: 30px;
  line-height: 36px;
}
.navbar-inverse .navbar-brand span
{
  color: var(--main-color);
}
.navbar-brand
{
  height: 70px;
}
/*Dropdown menu*/
.dropdown-menu
{
  background-color:#333;
  border-top: 3px solid  var(--main-color);
  min-width: 200px;
}

.navbar-right .dropdown-menu
{
  left: 0;
  right: auto;
}
.dropdown-menu > li > a
{
  color: #fff;
  padding: 6px 20px;
  -webkit-transition:padding 0.5s ease;
  -moz-transition:padding 0.5s ease;
  -O-transition:padding 0.5s ease;
  transition:padding 0.5s ease;
}

.dropdown-menu > li > a:hover
{
  background-color:var(--main-color);
  color: #fff;
  padding-left: 25px;
}

.dropdown-menu .divider
{
  background-color: #871818;
}

/*Navbar toggle*/
.navbar-toggle
{
  margin-top: 17px;
}

/*End Navbar*/

/*Start carousel*/

.carousel-slide
{
  height: 800px;
}
.div_determine_the_length_of_img .carousel-inner
{
  height: auto;
}
.div_determine_the_length_of_img .carousel-inner .item
{
  height: 800px;
}
.div_determine_the_length_of_img .carousel-inner .item h4
{
  font-weight: bold;
}
/*
.div_determine_the_length_of_img .item
{
  max-height: 500px;
  overflow: hidden;
}*/
.carousel-caption
{
  background-color: rgba(3, 3, 3, 0.6);
  padding: 15px;
  bottom: 42%;
}

.carousel-caption h4
{
  margin-bottom: 15px;
}

/*Carousel Indicators*/
.carousel-indicators
{
  bottom: 0px;
}

.carousel-indicators li
{
  height: 13px;
  width: 13px;
  border: 1px solid #eee;
}

.carousel-indicators .active
{
  height: 17px;
  width: 17px;
  background-color:var(--main-color);
  border: 1px solid var(--main-color);
}

/************End Edit bootstrap file*************/

/*Start Section About*/

.about{
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .lead{
  color: #888;
  font-size: 27px;
  margin-top: 15px;
}
.about h1 span,p span{
  color: var(--main-color);
  font-weight: bold;
}
.imageabout img{
  height: 300px;
  width: 400px;
}


/*End Section About*/

/*Start Section Features*/

.features{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  min-height: 750px;
}
.features h1{
  margin-bottom: 50px;
}
.features .feat{

  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  display: none;
}
.features .feat span.glyphicon{
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.features .feat h3{
  margin-bottom: 10px;
}
.features .feat p{
  line-height: 2em;
}
/*End Section Features*/


/*Start Testimonials Features*/
.testimonials{
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials h1{
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 50px;
}

.testimonials .lead{
  line-height: 2em;
}

.testimonials span{
  font-size: 13px;
  font-weight: bold;
  color: var(--main-color);
}

.testimonials .carousel-inner{
  min-height: 160px;
}

.testimonials .carousel-indicators{
  position: static;
  width: 100%;
  margin-left: 0px;
}
.testimonials .carousel-indicators li{
  text-indent: 0px;
  height: 90px;
  width: 90px;
  opacity: 0.4;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
  margin: 5px;
  -webkit-transition:all 0.6s ease;
  -moz-transition:all 0.6s ease;
  -O-transition:all 0.6s ease;
  transition:all 0.6s ease;
}

.testimonials .carousel-indicators .active{
  height: 90px;
  width: 90px;
  opacity: 1;
  background-color: #fff;
  border: 1px solid var(--main-color);
}
.testimonials .carousel-indicators li img{
  max-width: 100%;
}
/*End Testimonials Features*/








/**/
