body{padding-top:70px;overflow: hidden;}
h1,h2,h3,h4,h5,.lead {font-family: 'Hind Siliguri', sans-serif;}
/************Edit bootstrap file*************/
/*Main Navbar*/
.navbar {min-width: 70px;}
/*Navbar Links*/
.navbar-inverse .navbar-nav > li > a{
  color:#888;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
}
/*Navbar brand*/
.navbar-inverse .navbar-brand{ font-size: 30px; line-height: 36px;}
.navbar-brand { height: 70px; }
/*Dropdown menu*/
.dropdown-menu {background-color:#333; min-width: 200px;}
.navbar-right .dropdown-menu {left: 0; right: auto;}
.dropdown-menu > li > a{
  color: #fff;
  padding: 6px 20px;
  -webkit-transition:padding 0.5s ease;
  -moz-transition:padding 0.5s ease;
  -O-transition:padding 0.5s ease;
  transition:padding 0.5s ease;
}
.dropdown-menu > li > a:hover {color: #fff;padding-left: 25px;}
/*Navbar toggle*/
.navbar-toggle {margin-top: 17px;}
/** End Navbar */

/** Start carousel */
.carousel-slide {height: 800px;}
.div_determine_the_length_of_img .carousel-inner {height: auto;}
.div_determine_the_length_of_img .carousel-inner .item {height: 800px;}
.div_determine_the_length_of_img .carousel-inner .item h4 {font-weight: bold;}
/*
.div_determine_the_length_of_img .item
{
  max-height: 500px;
  overflow: hidden;
}*/
.carousel-caption{
  background-color: rgba(3, 3, 3, 0.6);
  padding: 15px;
  bottom: 42%;
}
.carousel-caption h4 {margin-bottom: 15px;}
/*Carousel Indicators*/
.carousel-indicators {bottom: 0px;}
.carousel-indicators li{
  height: 13px;
  width: 13px;
  border: 1px solid #eee;
}
.carousel-indicators .active{ height: 17px; width: 17px;}
/************End Edit bootstrap file*************/

/** Start Section Tool Box */
.option-box{
  position: fixed;
  top: 100px;
  left: 0px;
  z-index: 9999;
}
.option-box .color-option{
  float: left;
  background: #333;
  color: #fff;
  padding: 10px;
  width: 200px;
  display: none;
}
.option-box .color-option ul li{
  cursor: pointer;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 2px;
}
.option-box .gear-check{
  color: #fff;
  padding: 5px;
  cursor: pointer;
  z-index: 9999;
}
/** End Section Tool Box */

/** Start Section About */

.about .lead{color: #888;font-size: 27px;margin-top: 15px;}
.about h1 span,.about p span {font-weight: bold;}
.imageabout img {height: 300px; width: 400px;}
/** End Section About */

/** Start Section Features */
.features{
  background-color: #f7f7f7;
  min-height: 750px;
  overflow: hidden;
}
.features .feat{
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(141deg, #eeeeee 0%, #1fc8db 51%, #2cb5e8 75%);
  /* display: none; *//*with jq code from line 13 to 17*/
}
.features .feat span.glyphicon{
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.features .feat h3 {margin-bottom: 10px;}
.features .feat p {line-height: 2em; font-weight: 600;}
/** End Section Features */

/** Start Testimonials Features */
.testimonials {overflow: hidden;}
.testimonials .h1 {font-weight: bold;}
.testimonials .lead {line-height: 2em;}
.testimonials span {font-size: 13px; font-weight: bold;}
.testimonials .carousel-inner {min-height: 160px;}
.testimonials .carousel-indicators{
  position: static;
  width: 100%;
  margin-left: 0px;
  margin-top: -46px;
}
.testimonials .carousel-indicators li{
  text-indent: 0px;
  height: 90px;
  width: 90px;
  opacity: 0.4;
  border-radius: 50%;
  border: 14px solid #fff;
  overflow: hidden;
  margin: 5px;
}
.testimonials .carousel-indicators .active{
  height: 90px;
  width: 90px;
  opacity: 1;
}
.testimonials .carousel-indicators li img {max-width: 100%;}
/** End Testimonials Features */

/** Start Section courses table */
.coursesTable{
  background-color: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 100px;
}
.coursesTable .priceBox{
  background-color: #fff;
  padding: 10px;
  border:0px solid #000;
  margin-bottom: 15px;
  border-radius: 30px;
}
.coursesTable .priceBox h3 {margin: 5px 0px 15px;}
.coursesTable .priceBox:hover p{
  -webkit-transform:scale(1.1,1.1) rotate(360deg);
  -moz-transform:scale(1.1,1.1) rotate(360deg);
  -o-transform:scale(1.1,1.1) rotate(360deg);
  transform:scale(1.1,1.1) rotate(360deg);
}
.coursesTable .priceBox p{
  font-size: 35px;
  font-weight: bold;
  color: #999;
  background-color: #f3f3f3;
  border: 1px solid #000;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  line-height: 100px;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.coursesTable .priceBox h2{letter-spacing: -1px;}
.coursesTable .priceBox ul {font-size: 20px; line-height: 200%;font-family: Montserrat, sans-serif;}
.coursesTable .priceBox a {
  margin-bottom: 5px;
  padding: 10px;
  width: 172px;
  border: 0px;
  font-weight: bold;
  opacity: 0.5;
}
.coursesTable .priceBox a:hover {opacity: 1;}
/** End Section courses table */

/** Strat Section our team */
.ourTeam{
  background: url('../img/Image upload Red.gif')no-repeat center center fixed;
  /* background-size: cover; *//*if you use a picture want it take all size of div*/
  width: 100%;
  min-height: 700px;
}
.ourTeam .team{
  background-color: rgba(2, 2, 2, 0.4);
  color: #fff;
  min-height: 700px;
}
.ourTeam h2 {margin-bottom: 50px;}
.ourTeam .person {margin-bottom: 40px;}
.ourTeam .person h3 {margin-bottom: 25px;}
.ourTeam .person img {max-width: 200px; max-height: 200px;}
/** End Section our team */

/** Start section subscribe */
.subscribe h2{
  color: #888;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.subscribe p {margin-bottom: 30px;}
.subscribe .form-control{
  border-radius: 0;
  margin-right: -4px;
  width: 300px;
}
.subscribe button {border-radius: 0;}
/** End section subscribe */

/** Start section stats */
.statistics{
  min-height: 400px;
  background: url('../img/Programming.gif') no-repeat center center fixed;
  /* background-size: cover; *//*if you use a picture want it take all size of div*/
}
.statistics .data{
  min-height: 400px;
  color: #b6b5b5;
  background-color: rgba(2, 2, 2, 0.7);
}
.statistics .data h2 {margin-bottom: 70px;}
.statistics .state {margin-bottom: 30px;}
.statistics .state:hover {color: #fff;}
.statistics p{
  font-size: 37px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 0;
}
.statistics span {font-size: 19px;}

/** End section stats */

/** Start my Skills */
.my-skills h2 {margin-bottom: 60px; font-weight: bold;}
.my-skills .my-info h3 {margin-top: 0px; font-weight: bold;}
.my-skills .my-info button{
  padding: 10px;
  width: 200px;
  border: 0;
  font-weight: bold;
}
.my-skills .progress-bar{
  font-weight: bold;
  text-align: left;
  text-indent: 10px;
}
/** End my Skills */

/** Start Section Contact US */
.contact-us{
  min-height: 400px;
  background: url('../img/Contact-us.jpg') no-repeat center center fixed;
  background-size: cover;
}
.contact-us .fields{
  background-color: rgba(9, 9, 9, 0.7);
  min-height: 400px;
}
.contact-us .fields h2,p {text-transform: capitalize;}
.contact-us .fields p {margin-bottom: 20px;}
.contact-us .fields label{width: 100%;}
.contact-us .fields textarea {height: 85px;}
.contact-us input[type='text'],
input[type='email'],
.contact-us textarea{
  background-color: rgba(82,78,78,0.7);
  border: none;
}
.contact-us button {border: none;}
/** End Section Contact US */

/** Start Section Our clients */
.our-clients{
  background-color: #eee;
}
.our-clients img{
  height: 40px;
  width: 165px;
  opacity: 0.4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.our-clients img:hover {opacity: 1;}
/** End Section Our clients */

/** Start Ultimate Footer Section */
.footer{
  background: #111;
  color: #aaa;
  padding-top: 10px;
}
.footer a {color: #aaa;}
.footer h3{
  letter-spacing: 1px;
  margin: 30px 0 33px;
}
.footer .three-columns {overflow: hidden;}
.footer .three-columns li{
  width: 33.33333%;
  float: left;
  padding: 12px;
}
.footer .social-list {overflow: hidden;}
.footer .social-list img {width: 40px; height: 40px;}
.footer .social-list li{
  float: left;
  margin: 5px;
  padding-left: 10px;
  opacity: 0.7;
}
.footer .social-list li:hover {opacity: 1;}

/* media */
.media-img img {width: 100px; height: 100px;}

/* Work */
.work img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-left: 23px;
}

/* Copyright */
.footer .copyright{
  background: #333;
  color: #aaa;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 18px;
}
/** End Ultimate Footer Section */

/** Start section loading */
.loading-overlay{
  background-color: #222;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
/*/*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 300px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/** End section loading */
/** Start Nice Scroll*/
.get-nicer {overflow: auto;height: 280px;}
.nicescroll-rails {background-color: var(--second-color);}
.nicescroll-cursors {
  border: none !important;
  background-color: var(--main-color) !important;
  border-radius: 0 !important;
}
.jumbotron {padding-top: 80px;}
/** End Nice Scroll*/
/** Start section Scroll to top  */
#scroll-top{
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
}
/** End section Scroll to top  */

/** Start Grouping our System*/
.features .h1,
.coursesTable .h1,
.testimonials .h1{
  margin-bottom: 50px;
}
.testimonials .carousel-indicators li,
.statistics .state,
.our-clients img,
.footer .copyright span,
.footer .social-list li,
.footer .three-columns li{
  -webkit-transition:all 0.6s ease-in-out;
  -moz-transition:all 0.6s ease-in-out;
  -O-transition:all 0.6s ease-in-out;
  transition:all 0.6s ease-in-out;
}
.features,
.ourTeam .team,
.subscribe,
.contact-us .fields,
.statistics .data,
.my-skills,
.about,
.testimonials,
.our-clients{
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-us textarea,
.contact-us,
.footer a:hover,
.footer .three-columns li:hover{
  color: #eee;
}
/** End Grouping our System*/

/******************** Media Query ********************/
/**** Mobile & tabletWSSS ****/
@media (max-width:767px){
  /* Start navbar */
  .navbar-inverse .navbar-nav > li > a{
      padding-top: 10px;
      padding-bottom: 10px;
  }
  /* End navbar */

  /* Start Carousel */
  .carousel .slide{
      height: 568px;
      overflow: hidden;
  }
  .div_determine_the_length_of_img .carousel-inner .item{
      height: 376px;
  }
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img{
      height: 568px;
      width: 100%;
  }
  /* End Carousel */

  .imageabout img{
      height: 209px;
      width: 252px;
  }
  /*Start section subscribe*/
  .subscribe .form-control{
      margin: 30px auto;
  }
  /*End section subscribe*/
  /* OurTeam */
  .ourteam{
      text-align: center;
  }
  /**/
  .sk-cube-grid {
      margin: 344px auto;
  }
  /*About Us Page*/
  .about-ceo img{width: 426px;height: 560px;margin: auto;}
}

/**** Small Screen ****/
@media(min-width:768px) and (max-width:991px){
  /* Start navbar */
  .navbar-right{
      margin-right: -38px;
  }
  /* End navbar */

  /* Start Carousel */
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img{
      height: 953px;
      width: 100%;
  }
  .div_determine_the_length_of_img .carousel-inner .item{
      height: 606px;
  }
  .carousel-caption{
      bottom: 31%;
  }
  /* End Carousel*/
  /**/
  .sk-cube-grid {
      margin: 344px auto;
  }
  /*About Us Page*/
  .about-ceo img{width: 88%;height: 748px;margin: auto;}
}

/**** Medium Screen ****/
@media(min-width:992px) and (max-width:1199px){
  /* Start Carousel */
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img{
      height: 1084px;
      width: 100%;
  }
  .carousel-caption{
      bottom: 40%;
  }
  /**/
  .sk-cube-grid {
      margin: 338px auto;
  }
  /*About Us Page*/
  .about-ceo img{width: 100%;height: 701px;margin: auto;}
}

/**** Large Screen ****/
@media(min-width:1200px){
  /* Start Carousel */
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img{
      height: 1699px;
      width: 100%;
  }
  .div_determine_the_length_of_img .carousel-inner .item{
      height: 701px;
  }
  .carousel-caption{
      bottom: 37%;
  }
  /* End Carousel*/
  /*Our Team*/
  .ourTeam{
      min-height: 620px;
  }
  .ourTeam .team{
      min-height: 620px;
  }
  /*End Our team*/
  /**/
  .sk-cube-grid {
      margin: 356px auto;
  }
}
/*About Us Page*/

/*End Media Query*/
