/**** Start Default_theme ****/
:root{
    --main-color:#0895D1;
    --main-color-hover:#0895FF;
    --second-color:#E41817;
    --second-color-hover:#f00;
}
/* background color main-color*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.coursesTable .priceBox a,
.carousel-indicators .active,
.option-box .gear-check,
.subscribe button,
.my-skills .my-info button:hover,
#scroll-top:hover{
    background-color:var(--main-color);
}
/* background color main-color-hover*/
.subscribe button:hover{
    background-color: var(--main-color-hover);
}
/* background color Second-color*/
.dropdown-menu .divider,
#scroll-top{
    background-color: var(--second-color);
}
/* background color Second-color*/
.my-skills .my-info button{
    background-color: var(--second-color-hover);
}
/* color */
.navbar-inverse .navbar-brand span,
.about h1 span,.about p span,
.testimonials span,
#scroll-top{
    color: var(--main-color);
}
/* Color second-color */
.footer h3,
.footer .copyright span,
#scroll-top:hover{
    color: var(--second-color);
}
/* Color second-color:hover */
.coursesTable .priceBox h2,
.footer .copyright span:hover{
    color:var(--second-color-hover);
}
/*border  solid 1px*/
.carousel-indicators .active,
.hvr-overline-from-left{
    border: 1px solid var(--main-color);
}
/* bordere solid 2px*/
.option-box .color-option{
    border: 2px solid var(--main-color);
}
/* bordere dashed 2px*/
.coursesTable .priceBox:hover p{
    border: 3px dashed var(--main-color);
}
/* bordere solid 4px*/
.testimonials .carousel-indicators .active{
    border: 4px solid var(--main-color);
}
/*border top*/
.dropdown-menu{
    border-top: 3px solid var(--main-color);
}
/* box shadow */
.coursesTable .priceBox:hover{
    box-shadow: 5px 10px 8px var(--second-color) ;
}
.features .feat{
    background: linear-gradient(141deg, #eeeeee 0%, #eee 51%, var(--second-color) 109%)
}
/*hover button in subscrib section*/
.hvr-overline-from-left:before {
    background: var(--second-color);
}
.subscribe button:hover{
    border: 1px solid var(--main-color);
}
/*About page*/
.about-ceo .lead span{color: var(--main-color);}
/**** End Default_theme ****/