/**** Start Default_theme ****/
:root{
    --main-color:#BE8CD1;
    --main-color-hover:#b678cf;
    --second-color:#0895D1;
    --second-color-hover:#0895FF;
}
/* background color main-color*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.carousel-indicators .active,
.option-box .gear-check,
#scroll-top:hover{
    background-color:var(--main-color);
}
/* background color Second-color*/
.dropdown-menu .divider,
#scroll-top{
    background-color: var(--second-color);
}
/* color */
.navbar-inverse .navbar-brand span,
.about h1 span,p span,
.testimonials span,
#scroll-top{
    color: var(--main-color);
}
/* Color second-color */
.footer h3,
.footer .copyright span,
#scroll-top:hover{
    color: var(--second-color);
}
/* Color second-color:hover */
.footer .copyright span:hover{
    color:var(--second-color-hover);
}
/*border  solid 1px*/
.carousel-indicators .active,
.testimonials .carousel-indicators .active{
    border: 1px solid var(--main-color);
}
/* bordere solid 2px*/
.option-box .color-option{
    border: 2px solid var(--main-color);
}
/* bordere dashed 2px*/
.coursesTable .priceBox:hover p{
    border: 3px dashed var(--main-color);
}
/*border top*/
.dropdown-menu{
    border-top: 3px solid  var(--main-color);
}
/* box shadow */
.coursesTable .priceBox:hover{
    box-shadow: 5px 10px 8px var(--second-color) ;/* var(--second-color) */
}


/**** End Default_theme ****/